
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#contact {
    height: 15vh;
    color: #6c6f72;
    background-color: #f7f7f7;
    a {
       color: #646464; 
       padding: 40px 30px 40px 0px;
       display: inline-block;
       font-size: 14px;
       font-family: sans-serif;

    }
    .contact-us {
        position: relative;
        &::before {
            padding-right: 8px;
            color: #646464;
            content: "";
            font-family: var(--font-awesome);
            font-size: 0.75rem;
            font-weight: 600;
            margin-top: 2px;
        }
        color: blue;
    }
  
    .contact-main {
        .contacttxt {
            padding-top: 140px;
           width: 60%;
           .how {
            .dot {
                display: inline-block;
                width: 10px;
                padding: 1px;
                height: 10px;
                border-radius: 50%;
      
                background-color: blue;
            }
            .may {
                display: inline-block;
              padding: 20px 0px;
                font-size: 14px;
                font-weight: 600;
                font-family: sans-serif;
            }
        }
        p {
            font-size: 30px;
            font-weight: 700;
            font-family: sans-serif;
            color: black;
        }
        .lorem {
            font-family: sans-serif;
            font-size: 16px;
            display: inline-block;
            padding-bottom: 40px;
        }
            
        }
        .contact-left {
            .contact-icons {
            .contact-icon {
            
             padding: 10px 30px 30px 0px;
                width: 70%;
            
          
            .map {
                background-color: blue;
                color: white;
                margin-right: 20px;
                padding: 10px 15px;
                border-radius: 10%;
            }
            .email {
                background-color: blue;
                color: white;
                margin-right: 20px;
                padding: 10px 15px;
                border-radius: 10%;
               
            }
            .telephone {
                background-color: blue;
                color: white;
                margin-right: 20px;
                padding: 10px 15px;
                border-radius: 10%;
                
            }
            .earth {
                background-color: blue;
                color: white;
                margin-right: 20px;
                padding: 10px 15px;
                border-radius: 10%;
              
            }
            .text {
                padding-right: 10px;
            }
        }
    }
    }
        .contact-right {
width: 70%;
max-height: 140vh;
color: #6c6f72;
    background-color: #f7f7f7;
    margin-top: 90px;
    padding: 90px 40px;
    input {
        width: 100%;
       padding: 10px 100px 10px 10px;
      
    }
    .field {
        
        width: 100%;
        padding-bottom: 40px;
    }
    h4 {
        color: black;
        display: block;
        padding-bottom: 20px ;
    }
    span {
        display: block;
    }
    .submit {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 25px;
        color: #fff;
        font-size: 16px;
        border-radius: 7%;
        font-weight: 600;
        font-family: sans-serif;
        background-color: #2962ff;
        transition: 0.3s ease-in-out;
        &:hover {
            background-color: #03359b;
        }

    }
        }
   
    
     
   


      
        }
        .maps {
           padding: 90px;
            width: 100%;
            text-align: center;
            
        }
    }
    
    @media (max-width:991px){
       .contactt {
        .contact-main {
           display: flex;
           flex-direction: column;
        
        .contact-left {
        
            width: 100%;
        
      
        }
        .contact-right {
            width: 100%;
            padding: 90px 270px;
        }
    }
    }
}
        
      
